:root {
  --theme-color: hotpink;
  --navbar-menu-root-padding: 1rem;
}

.action {
  background-color: var(--base-color);
  font-size: var(--font-size-l);
  color: var(--base-background-color);
  border: none;
  padding: 1rem;
  border-radius: var(--border-radius-l);
}

.action:hover {
  box-shadow: ;
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav,
.install {
  color: white;
  padding: 0.3rem;
  margin-bottom: 1rem;

  border: 1px dotted transparent;
}

.install {
  font-size: 1.4rem;
}

.nav:hover,
.nav:active,
.install:hover,
.install:active {
  color: hotpink;
  border: 1px dotted hotpink;
}
